<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识图谱可视化</title>
    <style type="text/css">
        .tooltip {
            font-family: simsun;
            font-size: 16px;
            width: 120px;
            height: auto;
            position: absolute;
            text-align: center;
            border-style: solid;
            border-width: 1px;
            background-color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body style="background: url(http://localhost:7476/knowledge-graph/path/images/bg.jpg);">
<!--<input type="text" value="" id="inputText">-->
<!--<button onclick="getInput()">通过ID获取数据</button>-->

<!--加载知识图谱可视化JavaScript脚本文件-->
<script type='text/javascript' src="http://localhost:7476/knowledge-graph/path/js/d3.js" charset="utf-8"></script>
<script type='text/javascript' src='http://localhost:7476/knowledge-graph/path/js/inter.js'></script>
<script type='text/javascript' src='http://localhost:7476/knowledge-graph/path/js/update.js'></script>
<script type='text/javascript' src='http://localhost:7476/knowledge-graph/path/js/graph.js'></script>

</body>
</html>
